.jumbotron {
    background-image: url("IMG_9424.jpg");
    height: 300px;
    width: 250;
    background-size: cover;
}
h2 {
    background-color: salmon;
}
body {
    background-color: cadetblue;
}
p {
    background-color: bisque;
}
table{
    width: 100%;
}
img{
    width:50%;
}
.navbar {
    background-color:azure;
    width:100%;
}